{% load staticfiles %}
<!-- Slider -->
<div class="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner " role="listbox">
									{% for s in slider %}
												<img src="{{MEDIA_URL}}{{s.image.url}}" alt="/" height=450px; width=100%; />
     							{% endfor %}
								</div>
							</div>
						</div>
<!-- dummy slider  -->

<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'img/b1.jpg' %}" alt="...">
      <div class="carousel-caption">
        image2
      </div>
    </div>
    <div class="item">
      <img src="{% static 'img/1.jpg' %}" alt="...">
      <div class="carousel-caption">
        image1
      </div>
    </div>
		<div class="item">
      <img src="{% static 'img/b1.jpg' %}" alt="...">
      <div class="carousel-caption">
        image2
      </div>
    </div>
  </div>

</div> -->
